.main {
  margin: auto;
  width: 100%;
}

.section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5rem 6rem;
  text-align: center;
  padding-inline: var(--general-padding);

  &__title {
    position: relative;
    margin-bottom: 1rem;
    font-family: var(--font1);
    font-size: clamp(1.63rem, calc(1.43rem + 0.96vw), 2.25rem);
    color: var(--color1);
    &.candy {
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        margin-inline: auto;
        content: url("data:image/svg+xml, %3Csvg width='20' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M9.58664 4.41336C11.0188 5.84551 11.0188 8.15449 9.58664 9.58664C8.15449 11.0188 5.84551 11.0188 4.42067 9.58664C2.99582 8.15449 2.98121 5.84551 4.42067 4.41336C5.86013 2.98121 8.15449 2.98121 9.58664 4.41336ZM12.4582 1.55637C12.4582 1.55637 11.7495 1.64405 10.9676 2.14823C10.858 1.38831 10.4927 0.621086 9.87161 0C8.95825 0.906054 8.84864 2.04593 9.06785 2.8643C10.0835 3.12735 10.8727 3.91649 11.1357 4.93215C11.9541 5.15136 13.0939 5.04175 14 4.12839C13.3862 3.51461 12.6336 3.15658 11.881 3.03967C12.166 2.61587 12.3925 2.1263 12.4582 1.55637ZM1.54175 12.4436C1.54175 12.4436 2.25052 12.3559 3.03236 11.8518C3.14196 12.6117 3.50731 13.3789 4.12839 14C5.04175 13.0939 5.15136 11.9541 4.93215 11.1357C3.91649 10.8727 3.12735 10.0835 2.8643 9.06785C2.04593 8.84864 0.906054 8.95825 0 9.87161C0.613779 10.4854 1.36639 10.8507 2.119 10.9603C1.83403 11.3841 1.60752 11.881 1.54175 12.4436Z' fill='%2345B8E3' /%3E%3C/svg%3E");
        margin-left: 0.2rem;
      }
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        margin-inline: auto;
        content: url("data:image/svg+xml, %3Csvg width='20' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M9.58664 4.41336C11.0188 5.84551 11.0188 8.15449 9.58664 9.58664C8.15449 11.0188 5.84551 11.0188 4.42067 9.58664C2.99582 8.15449 2.98121 5.84551 4.42067 4.41336C5.86013 2.98121 8.15449 2.98121 9.58664 4.41336ZM12.4582 1.55637C12.4582 1.55637 11.7495 1.64405 10.9676 2.14823C10.858 1.38831 10.4927 0.621086 9.87161 0C8.95825 0.906054 8.84864 2.04593 9.06785 2.8643C10.0835 3.12735 10.8727 3.91649 11.1357 4.93215C11.9541 5.15136 13.0939 5.04175 14 4.12839C13.3862 3.51461 12.6336 3.15658 11.881 3.03967C12.166 2.61587 12.3925 2.1263 12.4582 1.55637ZM1.54175 12.4436C1.54175 12.4436 2.25052 12.3559 3.03236 11.8518C3.14196 12.6117 3.50731 13.3789 4.12839 14C5.04175 13.0939 5.15136 11.9541 4.93215 11.1357C3.91649 10.8727 3.12735 10.0835 2.8643 9.06785C2.04593 8.84864 0.906054 8.95825 0 9.87161C0.613779 10.4854 1.36639 10.8507 2.119 10.9603C1.83403 11.3841 1.60752 11.881 1.54175 12.4436Z' fill='%2345B8E3' /%3E%3C/svg%3E");
        margin-right: 0.1rem;
      }
    }
  }

  &__text {
    text-align: center;
    font-family: var(--font2);
    color: var(--color4);
    font-weight: 500;
    line-height: 1.3;
    max-width: 620px;
  }

  &__text-bold {
    font-weight: 800;
  }
}

.main {
  .section:nth-child(even) {
    background-color: var(--color3);
  }
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin-top: 4rem;
  .customer {
    position: relative;
    width: 100%;
    max-width: 700px;
    max-height: 400px;
    margin-bottom: 2rem;
    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: var(--border);
    }

    &__front {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      padding: 1rem;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(56, 35, 56, 0.8925945378151261) 0%,
        rgba(225, 93, 141, 0.06906512605042014) 42%
      );
      border-radius: var(--border);
    }

    &__text {
      color: var(--color5);
      font-family: var(--font2);
      font-size: 1.35rem;
      font-style: italic;
      text-align: left;
    }
  }
}

.footer {
  position: relative;
  padding: clamp(2rem, 3%, 4rem);
  padding-bottom: 1rem;
  background-color: var(--color1);
  border-top-left-radius: var(--border);
  border-top-right-radius: var(--border);
  svg,
  svg path {
    fill: #fff;
    width: 20px;
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3%;
    margin: auto;
    z-index: 1;
    opacity: 0.6;
  }

  &__info-container {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: left;
    gap: 2rem;
  }

  &__title {
    font-family: var(--font2);
    font-size: 1.4rem;
    font-weight: 1000;
    margin-bottom: 0.5rem;
    color: var(--color5);
  }

  &__text,
  .contact {
    font-family: var(--font3);
    color: var(--color5);
    font-style: italic;
    font-weight: 200;
  }

  &__contact {
    display: flex;
    flex-direction: column;

    .contact {
      display: flex;
      align-items: center;
      margin-bottom: 0.35rem;
      transition: var(--fast-transition);
      &:hover {
        color: var(--color2);
      }
    }
    svg {
      margin-right: 0.5rem;
      path {
        fill: var(--color2);
      }
    }
  }

  &__horario {
    svg {
      margin-right: 0.5rem;
      path {
        fill: none;
        stroke: var(--color5);
      }
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 6rem;
    text-align: center;
  }

  &__aguacandy {
    margin-bottom: 0.6rem;
    font-family: var(--font2);
    color: var(--color5);
    font-size: 14.5px;
    font-weight: 800;
  }

  &__dario-chic {
    font-family: var(--font2);
    color: var(--color4);
    font-weight: 800;
  }
}

@media screen and (min-width: 720px) {
  .items {
    .items__dots {
      display: none;
    }

    .item__reference {
      display: grid;
      grid-template-columns: repeat(auto-fit, 250px);
      gap: 2rem;
      justify-content: space-evenly;
      align-content: center;
      max-width: 100%;
      height: auto;
      height: fit-content;
      box-shadow: none;
      & > * {
        opacity: 1;
      }
    }

    .item {
      max-height: 250px;
      position: static;
      box-shadow: var(--box-shadow);
      border-radius: var(--border);

      &.appear-l {
        animation-name: none;
        transform: translateX(0%);
      }
      &.appear-r {
        animation-name: none;
        transform: translateX(0%);
      }
      &.disappear-l {
        animation-name: none;
        transform: translateX(0%);
      }
      &.disappear-r {
        animation-name: none;
        transform: translateX(0%);
      }
    }

    #items__arrow-l,
    #items__arrow-r {
      display: none;
    }
  }
}

@media screen and (min-width: 900px) {
  .footer__info-container {
    justify-items: center;
  }
}
